@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
  background: repeating-linear-gradient(
    to bottom,
    #0f0a1e,
    #0f0a1e 2px,
    #140e29 2px,
    #140e29 4px
  );
  max-width: 900px;
  margin: 30px auto;
  min-height: calc(100vh - 60px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App footer {
  text-align: center;
  margin: 30px 0;
  font-size: 10px;
}

.App {
  font-family: "Press Start 2P", cursive;
  background: repeating-linear-gradient(
    to bottom,
    #0f0a1e,
    #0f0a1e 2px,
    #140e29 2px,
    #140e29 4px
  );
  display: block;
  position: relative;
  margin: auto;
  padding: 20px;
}

.Results {
  padding: 50px;
  margin-top: 50px;
  font-size: 10px;
}

.Results h2 {
  text-transform: capitalize;
}

.DictionaryHeader {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 90px;
  color: white;
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 5px;
  text-shadow: -2px 0 0 #fdff2a, -4px 0 0 #df4a42, 2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
  animation: blink 1s steps(4, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

@media only screen and (max-width: 450px) {
  .App {
    max-width: 290px;
  }

  .gradient {
    font-size: 8vmin;
  }
}
