body {
  background-color: #fff;
  max-width: 900px;
  margin: 30px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App footer {
  text-align: center;
  margin: 30px 0;
  font-size: 10px;
}

.App {
  display: block;
  position: relative;
  margin: auto;
  border: 6px groove rgba(94, 114, 235, 0.7);
  border-radius: 20px;
  padding: 20px;
  background: #edddd4;
}

.Results {
  padding: 50px;
  margin-top: 50px;
}

.Results h2 {
  text-transform: capitalize;
}

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.gradient {
  background-image: linear-gradient(
    90deg,
    rgba(94, 114, 235, 1) 0%,
    rgba(255, 145, 144, 1) 56%,
    rgba(254, 193, 149, 1) 100%
  );
  color: transparent;
  font-size: 10vmin;
  font-family: "Pacifico", cursive;
  padding: 10px;
  -webkit-background-clip: text;

  animation: move 1s infinite;
}

@keyframes move {
  50% {
    background-image: linear-gradient(
      262deg,
      rgba(94, 114, 235, 1) 0%,
      rgba(255, 145, 144, 1) 56%,
      rgba(254, 193, 149, 1) 100%
    );
  }
}

@media only screen and (max-width: 450px) {
  .App {
    max-width: 290px;
  }

  .gradient {
    font-size: 8vmin;
  }
}
